													/*GENERAL*/
body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	/*Оформление*/

	/*Анимация*/
}

header {
	/*Позициоинирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-transform: none;
	/*Оформление*/

	/*Анимация*/
}
													/*GENERAL-END*/


.breadcrumbs-list {
	/*Позициоинирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.breadcrumbs-list li {
	/*Позициоинрование*/

	/*Блочная модель*/
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	/*Типографика*/
	/*Оформление*/

	/*Анимация*/
}

												/*SECTION-CATALOG-FILTER*/

.catalog-filter fieldset {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	border: none;
	/*Оформление*/

	/*Анимация*/
}

.filter-title-box {
	/*Позиционирование*/

	/*Блочная модель*/
	margin-bottom: 20px;
	width: 940px;
	height: 89px;
	/*Типографика*/

	/*Оформление*/
	background-color: #f2f6f8;
	/*Анимация*/
}

.filter-title {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding-top: 32px;
	padding-left: 30px;
	/*Типографика*/
	font-size: 30px;
	font-family:"Cuprum", "Georgia", sans-serif;
	color: #32425c;
	font-weight: 400;

	/*Оформление*/

	/*Анимация*/
}

.filter-description {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 220px;
	height: 38px;
	display: inline-block;
	line-height: 38px;
	/*Типографика*/
	/*Оформление*/
	background-color: #f7f3ec;
	/*Анимация*/
}

.filter-wrap-30 legend {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #000000;
	/*Оформление*/

	/*Анимация*/
}

.filter-manufacturer label {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 15px;
	/*Оформление*/

	/*Анимация*/
}
.filter-manufacturer-list,
.power-radio-list {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.button {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 138px;
	height: 38px;
	/*Типографика*/
	color: #000000;
	font-weight: 400;
	/*Оформление*/
	border: 1px solid #e5e5e5;
	background-color:#ffffff;
	text-transform: uppercase;
	vertical-align: middle;
	/*Анимация*/
}

.button:hover,
.button:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	outline: none;
	cursor: pointer;
	border: 1px solid #bdc6ca;
	/*Анимация*/
}
.button:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
 	border: 1px solid #ee3643;
	/*Анимация*/
}

.filter-sort-wrap {
	/*Позиционирование*/
	display: inline-block;
	vertical-align: middle;
	/*Блочная модель*/
	width: 700px;
	height: 38px;
	/*Типографика*/
	line-height: 38px;
	/*Оформление*/
	background-color: #f7f3ec;
	/*Анимация*/
}


.sort-button {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	/*Типографика*/
	color: #000000;
	font-size: 13px;
	text-transform: uppercase;  
	/*Оформление*/
	color: #c5c2bc;
	outline: none;
	border: none;
	border-bottom: 1px dashed #ee3643;
	background-color: rgba(0, 0, 0, 0);
	/*Анмация*/
}
.sort-button:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ee3643;
	/*Оформление*/
	border: none;
	/*Анимация*/
}
.sort-button:hover {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	border-bottom: 1px solid #ee3643;
	/*Анимация*/
}

									/*SECTION-CATALOG-FILTER-END*/

									/*SECTION-CATALOG-PRODUCTS*/


.catalog-products {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 700px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}
.product-item {
	/*Позиционирование*/

	/*Блочная модель*/
	margin-right: 20px;
	display: inline-block;
	width: 220px;
	height: 318px;
	/*Типографика*/
	/*оформление*/
	border: 1px solid #e5e5e5;
	/*Анимация*/
}

.product-item:hover,
.product-item:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	/*Анимация*/
}
.product-item p {
	/*Позиционирование*/
	display: inline-block;
	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	width: 155px;
	height: 33px;
	/*Типографика*/
	color: #000000;
	text-transform: none;
	text-align: center;
	/*Оформление*/

	/*Анимация*/
}
.product-item h3 {
	margin: 0px;
	padding: 0px;
}
.button-buy {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 135px;
	height: 38px;
	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	font-weight: 400;
	color: #ffffff;
	
	/*Оформление*/
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	/*Анимация*/
}

.button-buy:hover,
.button-buy:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #5fbb2d;
	/*Анимация*/
}
.button-buy:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #518534;
	/*Анимация*/
}
.button-bookmarks {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	text-align: center;
	width: 129px;
	height: 32px;
	border: 3px solid #63a63e;
	/*Типографика*/
	line-height: 32px;
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 14px;
	color: #32425c;
	/*Оформление*/

	/*Анимация*/
}
.button-bookmarks:hover,
.button-bookmarks:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	border: 3px solid #32425c;
	/*Анимация*/
}

.button-bookmarks:active {
	border: 3px solid #32425c;

	opacity: 0.3;
}

.old-price {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 17px;
	text-transform: uppercase;
	color: #999999;
	text-decoration: line-through;
	font-weight: 700;
	/*Оформление*/

	/*Анимация*/
}
.discount-price {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 141px;
	height: 38px;
	/*Типографика*/
	line-height: 38px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	/*Оформление*/
	background-color: #ee3643;
	/*Анимация*/
}

.pagination-wrap {
	/*Позиционирование*/

	/*Блочная модель*/
	padding-top: 50px;
	padding-bottom: 50px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}
.pagination-list {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	/*Типографика*/
	
	/*Оформление*/

	/*Анимация*/
}

.pagination-list li {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.pagination-list a {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 36px;
	height: 36px;
	/*Типографика*/
	color: #000000;
	line-height: 36px;
	text-align: center;
	vertical-align: middle;

	/*Оформление*/
	border: 1px solid #e5e5e5;
	/*Анимация*/
}

.pagination-list a:hover,
.pagination-list a:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	border: 1px solid #bdc6ca;
	/*Анимация*/
}
.pagination-list a:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	border: 1px solid #ee3643;
	/*Анимация*/
}

.pagination-list .active-page {
	/*Позиционирование*/
	
	/*Блочная модель*/
	width: 38px;
	height: 38px;
	/*Типографика*/
	color: #ffffff;
	/*Оформление*/
	background-color: #ee3643;
	border: none;
	/*Анимация*/
}
.pagination-list .active-page:hover,
.pagination-list .active-page:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	border: none;
	/*Анимация*/
}

																			/*SECTION-CATALOG-PRODUCTS-END*/

																			/*SECTION-PRODUCT-INFO*/
.product-info {
	/*Позиционирование*/

	/*Блочная модель*/
	padding-top: 70px;
	padding-bottom: 70px;
	/*Типографика*/

	/*Оформление*/
	background-color: #f2f6f8;
	/*Анимация*/
}
.product-info h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin: 0px;
	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 30px;
	/*Оформление*/

	/*Анимация*/
}

.info-description {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin-top: 40px;

	/*Типографика*/
	font-size: 13px;
	text-transform: none;
	/*Оформление*/

	/*Анимация*/
}



																			/*SECTION-PRODUCT-INFO-END*/