													/*GENERAL*/
body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	/*Оформление*/

	/*Анимация*/
}

header {
	/*Позициоинирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-transform: none;
	/*Оформление*/

	/*Анимация*/
}
													/*GENERAL-END*/


.breadcrumbs-list {
	/*Позициоинирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.breadcrumbs-list li {
	/*Позициоинрование*/

	/*Блочная модель*/
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	/*Типографика*/
	/*Оформление*/

	/*Анимация*/
}

												/*SECTION-CATALOG-FILTER*/

.catalog-filter fieldset {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	border: none;
	/*Оформление*/

	/*Анимация*/
}

.filter-title-box {
	/*Позиционирование*/

	/*Блочная модель*/
	margin-bottom: 20px;
	width: 940px;
	height: 89px;
	/*Типографика*/

	/*Оформление*/
	background-color: #f2f6f8;
	/*Анимация*/
}

.filter-title {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding-top: 32px;
	padding-left: 30px;
	/*Типографика*/
	font-size: 30px;
	font-family:"Cuprum", "Georgia", sans-serif;
	color: #32425c;
	font-weight: 400;

	/*Оформление*/

	/*Анимация*/
}

.filter-description {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 220px;
	height: 38px;
	display: inline-block;
	line-height: 38px;
	/*Типографика*/
	/*Оформление*/
	background-color: #f7f3ec;
	/*Анимация*/
}

.filter-wrap-30 legend {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #000000;
	/*Оформление*/

	/*Анимация*/
}

.filter-manufacturer label {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 15px;
	/*Оформление*/

	/*Анимация*/
}
.filter-manufacturer-list,
.power-radio-list {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.button {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 140px;
	height: 38px;
	/*Типографика*/
	color: #000000;
	font-weight: 400;
	/*Оформление*/
	border: 1px solid #e5e5e5;
	background-color:#ffffff;
	text-transform: uppercase;
	/*Анимация*/
}

.button:hover,
.button:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	/*Оформление*/
	cursor: pointer;
	border: 1px solid #bdc6ca;
	/*Анимация*/
}
.button:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
 	border: 1px solid #ee3643;
	/*Анимация*/
}

.filter-sort-wrap {
	/*Позиционирование*/
	display: inline-block;
	vertical-align: middle;
	/*Блочная модель*/
	width: 700px;
	height: 38px;
	/*Типографика*/
	line-height: 38px;
	/*Оформление*/
	background-color: #f7f3ec;
	/*Анимация*/
}

.filter-sort-wrap span {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.sort-button {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	/*Типографика*/
	color: #000000;
	font-size: 13px;
	text-transform: uppercase;  
	/*Оформление*/
	outline: none;
	border: none;
	border-bottom: 1px dashed #ee3643;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0.3; 

	/*Анмация*/
}
.sort-button
												/*SECTION-CATALOG-FILTER-END*/
