														

														/*SECTION-SERVICES*/

.advantages-box {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 300px;
	height: 123px;
	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;

	/*Оформления*/
	color: #ffffff;
	/*Анимация*/
}

.advantages-box h3 {
	/*Позиционирование*/
	font-size: 24px;
	font-weight: 700;
	margin: 0px;
	/*Блочная модель*/
}


.material {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #ffbf47;
	/*Анимация*/
}

.tools {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #3bbce3;
	/*Анимация*/
}

.technics {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #dc91d8;

	/*Анимация*/
}

.discounts {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #8ed78f;
	/*Анимация*/
}

.delivery {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #ffc047;
	/*Анимация*/
}

.advantages-button {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 135px;
	height: 38px;
	display: inline-block;
	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 14px;
	line-height: 38px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	/*Оформление*/
	background-color: rgba(0, 0, 0, 0.1);
	/*Анимация*/
}
.advantages-button:focus,
.advantages-button:hover {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: rgba(0, 0, 0, 0.2);
	/*Анимация*/
}

.advantages-button:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: rgba(0, 0, 0, 0.3);
	/*Анимация*/
}

.title-slider { 
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/
  font-size: 36px;
  font-weight: 700;
  font-family: "Cuprum", "Georgia", sans-serif;
  color: #000000;
	/*Оформление*/

	/*Анимация*/
 }
 .slider-description {
 	/*Позиционирование*/

 	/*Блочная модель*/
 	display: inline-block;
 	/*Типографика*/
 	font-size: 18px;	
 	color: #000000;
 	font-family: "Cuprum", "Georgia", sans-serif;
 	/*Оформление*/

 	/*Анимация*/
 }

.button {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 5%;
	padding-right: 5%;
	/*Типографика*/
	font-size: 14px;
	font-weight: 400;
	font-family: "Cuprum", "Georgia", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	/*Оформление*/
	color: #ffffff;
	vertical-align: middle;
	background-color: #ee3643;	
	/*Анимация*/
}

.button:hover, 
.button:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #ca2c37;
	/*Анимация*/
}

.button:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #ba2732;
	/*Анимация*/
}
														/*SECTION-SERVICES-END*/

														/*SECTION-POPULAR-PRODUCTS*/
.popular-products-title,
.popular-manufactures-title {
	/*Позиционирование*/

	/*Блочная модель*/
	padding-top: 33px;
	padding-bottom: 33px;
	padding-left: 30px;
	/*Типографика*/

	/*Оформление*/
	background-color: #f9f5f0;
	/*Анимация*/
}

.popular-products {
	/*Позиционирование*/

	/*Блочная модель*/
	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-size: 17px;
	font-weight: 700px;
	/*Оформление*/

	/*Анимация*/
}

.popular-products h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	margin: 0px;
	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	color: #32435c;
	vertical-align: middle;
	/*Оформление*/

	/*Анимация*/
}

.products-item {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 220px;
	height: 318px;
	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-weight: 700;
	/*Оформление*/
	border: 1px solid #eaeaea;
	/*Анимация*/
}

.products-item:focus,
.products-item:hover {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	
	/*Оформление*/
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	/*Анимация*/
}

.product-title {
	/*Позиционирование*/
	
	/*Блочная модель*/
	margin: 0px auto;
	display: inline-block;
	width: 155px;
	height: 33px;
	/*Типографика*/
	color: #000000;
	font-size: 18px;
	font-family: "PT Sans", "Georgia", sans-serif;
	font-weight: 700;
	text-align:center;
	/*Оформление*/

	/*Анимация*/
}
.disable-price {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 17px;
	color: #a9a9a9;
	text-decoration: line-through;
	/*Оформление*/

	/*Анимация*/
}

.discount-price {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 141px;
	height: 38px;
	/*Типографика*/
	font-size: 17px; 
	line-height: 38px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	/*Оформление*/
	background-color: #ee3643;
	/*Анимация*/
}
														/*SECTION-POPULAR-PRODUCTS-END*/
														
														/*SECTION-POPULAR-MANUFACTURES*/
.manufactures-wrap {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 220px;
	height: 145px;
	margin-right: 20px;
	margin-top: 20px; 	
	/*Типографика*/
	text-align: center;
	
	/*Оформление*/
	border: 1px solid #eaeaea;
	/*Анимация*/
}
.manufactures-wrap a {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/
	vertical-align: middle;
	line-height: 145px;
	/*Оформление*/

	/*Анимация*/
}

.manufactures-wrap:hover, 
.manufactures-wrap:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	/*Анимация*/
} 
.manufactures-wrap:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/
	opacity: 0.3;
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	/*Анимация*/ 
}
														/*SECTION-POPULAR-MANUFACTURES-END*/

														/*SECTION-SERVICES*/
.services {
	/*Позиционирование*/

	/*Блочная модель*/
	padding-top: 70px;
	padding-bottom: 70px;
	/*Типографика*/
	font-size: 13px;
	font-family: "PT Sans", "Georgia", sans-serif;
	/*Оформление*/
	background-color: #f4f7f9;
	/*Анимация*/
}

.services h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 30px;
	font-weight: 400;
	/*Оформление*/

	/*Анимация*/
}
.services-description {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 398px;
	 height: 32px;
	/*Типографика*/ 
	
	/*Оформление*/

	/*Анимация*/
}
.services-list {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.services-list li {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 240px;
	height: 61px;
	padding-left: 22px;
	/*Типографика*/
	color: #ffffff;
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 21px;
	line-height: 61px;
	/*Оформление*/
	background-color: #32425c;
	/*Анимация*/
}

.services-list li:hover,
.services-list li:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}

.services-item {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 13px;
	font-family: "PT Sans", "Georgia", sans-serif;
	/*Оформление*/

	/*Анимация*/
}
.services-item h3 {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
	/*Оформление*/

	/*Анимация*/
}

.services-item p {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 275px;
	height: auto;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}
																	/*SECTION-SERVICES-END*/
				
																	/*SECTION-DETAIL-INFO*/
.detail-info, 
.contact-info {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	padding-top: 83px;
	width: 519px;
	padding-bottom: 83px;
	/*Типографика*/
	font-family: "PT Sans", "Georgia", sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #000000;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}

.detail-info h2,
.contact-info h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	color: #000000;
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	/*Оформление*/

	/*Анимация*/
}
.detail-info-list {
	/*Позиционирование*/
	
	/*Блочная модель*/
	padding: 0px;
	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.detail-info-list li {
	/*Позицинирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 18px;
	font-weight: 400;
	font-family: "Cuprum", "Georgia", sans-serif;
	/*Оформление*/

	/*Анимация*/
}

.contact-info {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.full-button {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 300px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}
																	/*SECTION-DETAIL-INFO-END*/
