																	/*GENERAL STYLE*/

body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 13px;
	font-family: "PT Sans", "Georgia", sans-serif;
	color: #000000;
	line-height: 24px;
	font-weight: 400;
	/*ОФормление*/
	background-color: #ffffff;
	/*Анимация*/
}

a {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-decoration: none;
	/*Оформление*/

	/*Анимация*/
}

																	/*GENERAL STYLE END*/

																	/*HEADER*/

																	/*TOP-HEADER*/

.top-header {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	/*Оформление*/
	background-color: #293449;
	/*Анимация*/
}		
.top-header a {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ffffff;
	/*Оформление*/
	
	/*Анимация*/
}

.top-header label {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ffffff;
	/*Оформление*/

	/*Анимация*/
}

.logo {
	/*Позиционирование*/
	vertical-align: baseline;
	text-align: center;
	/*Блочная модель*/
	display: inline-block; 
	width: 220px;
	height: 47px;
	/*Типографика*/
	line-height: 48px;
	/*Оформление*/
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	/*Анимация*/
}

.logo:hover,
.logo:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #ca2c37; 
	/*Анимация*/
}

.bookmark,
.shopping-cart {
	/*Позиционирование*/
	vertical-align: baseline;
	margin-left: -4px;
	/*Блочная модель*/
	width: 150px; 
	height: 42px;
	display: inline-block;
	/*Типографика*/
	line-height: 42px;
	text-align: center;
	/*Оформление*/

	/*Анимация*/
}
.search {
	/*Позиционирование*/
	vertical-align: baseline;
	/*Блочная модель*/
	display: inline-block;
	width: 270px;
	height: 42px;
	/*Типографика*/

	/*Оформление*/
	line-height: 42px;
	text-aling: center;
	/*Анимация*/
}

.search:hover,
.search:focus,
.bookmark:hover,
.bookmark:focus,
.shopping-cart:hover,
.shopping-cart:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	outline: none;
	/*Оформление*/
	background-color: #212a3a;
	/*Анимация*/
}	



.search:active,
.search:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/
 	background-color: #293449;
	/*Анимация*/
}
.search input:active,
.search input:focus {
	outline: none;
}

.bookmark:active,
.shopping-cart:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ffffff;
	opacity: 0.6;
	/*Оформление*/
	background-color: #161d29;
	/*Анимация*/
}

.place-order {
	/*Позиционирование*/
	display: inline-block;
	margin-left: -4px;
	/*Блочная модель*/
	width: 150px;
	height: 42px;
	/*Типографика*/ 
	line-height: 42px;
	vertical-align: baseline;
	text-align: center;
	/*Оформление*/
	background-color: #63a63e;
	/*Анимация*/
}

.place-order:hover,
.place-order:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	outline: none;
	/*Оформление*/
	background-color: #5fbb2d;
	/*Анимация*/
}
.place-order:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	opacity: 0.5;
	/*Оформление*/
	background-color: #518534;
	/*Анимация*/
}

																	/*TOP-HEADER-END*/
	
																	/*MIDDLE-HEADER*/

.middle-header {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-family: "Cuprum", "Georgia", sans-serif;
	/*Оформление*/
	background-color: #f4f7f9;

	/*Анимация*/
}

.middle-info {
	/*Позиционирование*/
	display: inline-block;
	/*Блочная модель*/
	width: 190px;
	height: 60px;
	/*Типографика*/
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	/*Оформление*/

	/*Анимация*/
}

.phone {
	/*Позиционирование*/
	vertical-align: middle;
	/*Блочная модель*/
	width: 270px;
	height: 45px;
	display: inline-block;
	/*Типографика*/
	font-size: 21px;
	line-height: 45px;
	font-weight: 400;
	color: #ee3643;
	text-align: center;

	/*Оформление*/
	border: 3px solid #ffffff; 
	/*Анимация*/
}

.address-info {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-style: 14px;
	text-align: center;
	font-style: normal;
	/*Оформление*/

	/*Анимация*/
}
.phone-wrap,
.button-wrap {
	/*Позиционирование*/
	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}



.button {
	/*Позиционирование*/
	display: inline-block;
	vertical-align: middle;
	/*Блочная модель*/
	height: 45px;
	border: none;
	/*Типографика*/
	line-height: 45px;
	font-size: 21px;
	font-family: "Cuprum", "Georgia", sans-serif;
	color: #000000;
	text-align: center;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}
.button:focus,
.button:hover {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ee3643;
	/*Оформление*/
	outline: none;
	/*Анимация*/
} 

.button:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	opacity: 0.3;
	/*Оформление*/
	outline: none;
	/*Анимация*/
}

.button-enter {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 121px;
	height: 45px;
	/*Типографика*/
	
	/*Оформление*/

	/*Анимация*/
}

.button-reg {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 150px;
	height: 45px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

											/*MIDDLE-HEADER-END*/
																	
											/*HEADER-NAV*/

.nav-list {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	/*Оформление*/
	list-style: none;
	/*Анимация*/
}

.nav-list li {
	/*Позиционирование*/
	
	/*Блочная модель*/
	padding-right: 2%;
	padding-left: 2%;
	margin-left: -4px;
	display: inline-block;
	/*Типографика*/
	/*Оформление*/
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
	/*Анимация*/
}

.nav-list li:hover,
.nav-list li:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #293449;
	/*Анимация*/
}

.nav-list li:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #1d2739;
	/*Анимация*/
}

.nav-list a {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/
	font-size: 17px;
	font-weight: 400;
	line-height: 60px;
	font-family: "Cuprum", "Georgia", sans-serif;
	color: #ffffff;
	/*Оформление*/
	
	/*Анимация*/
}

										/*HEADER-NAV-END*/

										/*HEADER END*/

				/*FOOTER*/

						/*FOOTER-HEADER*/


.main-footer {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ffffff;
	font-family: "Cuprum", "Georgia", sans-serif;
	font-size: 18px;
	font-weight: 400;
	/*Оформление*/
	background-color: #32425c;
	/*Анимация*/
}

.footer-nav-list {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin: 0px;
	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.footer-nav-list li {
	/*Позиционирование*/

	/*Блочная модель*/

	display: inline-block;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.footer-nav-list a {
	/*Позиционирование*/

	/*Блочная модель*/
	padding-left: 10px;
	margin-right: 10px;
	/*Типографика*/
	font-size: 18px;
	line-height: 64px;
	font-weight: 400;
	color: #ffffff;
	list-style: none;
	font-family: "Cuprum", "Georgia", sans-serif;
	/*Оформление*/


	/*Анимация*/
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-decoration: underline;
	/*Оформление*/

	/*Анимация*/
}

.footer-nav-list a:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	opacity: 0.5;
	color: #f1f5f7;
	/*Оформление*/

	/*Анимация*/
}

							/*FOOTER-HEADER-END*/

							/*FOOTER-MIDDLE-INFO*/

.footer-middle-info {

	/*Позиционирование*/
	display: border-box;
	/*Блочная модель*/
	margin-bottom: 32px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.middle-info-contact {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/
	/*Оформление*/

	/*Анимация*/
}
.middle-info-list {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	margin: 0px;
	padding: 0px;
	/*Типографика*/

	/*Оформление*/
	list-style: none;

	/*Анимация*/
}

.middle-info-list li {
	/*Позиционирование*/
	padding-left: 20px;
	padding-right: 20px;
	/*Блочная модель*/
	display: inline-block;
	/*Типографика*/
	/*Оформление*/

	/*Анимация*/
}
.middle-info-list a {
	/*Позиционирование*/

	/*Блочная модель*/
	/*Типографика*/
	color: #ffd180;
	/*Оформление*/

	/*Анимация*/
}

.middle-info-list a:focus,
.middle-info-list a:hover {

	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-decoration: underline;
	/*Оформление*/

	/*Анимация*/
}

.middle-info-list a:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	opacity: 0.5;
	/*Оформление*/

	/*Анимация*/

}
							/*FOOTER-MIDDLE-INFO-END*/

							/*FOOTER-BOTTOM*/
.footer-botoom {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #293449;
	/*Анимация*/
}


							/*FOOTER-BOTTOM-END*/

					/*FOOTER-END*/



																	/*PATTERN*/



																	/*PATTERN-END*/
